/* =================== 
Pagenav Area Style
=====================================*/
.internal-header-wrap {
	display: flex;
	width: 100%;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
	padding: 10px 0;
}
.left_menu .internal-header-wrap {
	flex-direction: row-reverse;
}
.center_menu .internal-header-wrap {
	display: block;
	text-align: center;
}
.site-logo h2 {
	margin: 0;
	font-size: 2rem;
	font-family: var(--heading-font);
	font-weight: 800;
	font-style: italic;
}
.main-navigation ul li {
	display: inline-block;
}

.main-navigation ul li a {
	font-size: 1.2rem;
	font-weight: 600;
	padding: 10px;
	display: block;
	text-transform: capitalize;
}
.main-navigation ul li.current-menu-item a {
	color: var(--hover-color);
}

/* =================== 
Post Comments Style
=====================================*/
#post_comments {
	padding-top: 50px;
}
#post_comments .comment-form {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}
#post_comments p label {
	display: block;
	font-size: 1rem;
	font-weight: 700;
}
#post_comments .comment-form-author,
#post_comments .comment-form-email {
	width: 49%;
}
#post_comments .comment-form .comment-notes,
#post_comments .comment-form .comment-form-url,
#post_comments .comment-form .comment-form-comment,
#post_comments .comment-form .comment-form-cookies-consent {
	width: 100%;
}
#post_comments .comment-form .comment-form-cookies-consent label {
	display: inline-block;
	font-size: inherit;
}
#post_comments .comment-form-author input,
#post_comments .comment-form-email input,
#post_comments .comment-form-url input,
#post_comments .comment-form-comment textarea {
	width: 100%;
}

/* =================== 
Footer Style
=====================================*/
.site-footer {
	display: flex;
	justify-content: center;
	background-color: var(--body-color);
	color: var(--white-color);
	padding: 15px 0;
	font-size: 13px;
	font-weight: 300;
	font-family: var(-body-font);
}

.site-footer a {
	color: var(--white-color);
	font-weight: 500;
}

.site-footer a:hover {
	color: var(--hover-color);
}
